.text-center {
    text-align: center;
}

.border {
    border: 1px solid #e1e4e8;
}

.p-3 {
    padding: 16px;
}

.ml-4 {
    margin-left: 16px;
}

.text-center {
    text-align: center;
}

.f1-light {
    font-size: 2em;
    font-weight: 300;
}


.anim-fade-in.custom-fade {
    animation-duration: 0.25s !important;
  }

.anim-fade-out.custom-fade {
    animation-duration: 0.25s !important;
  }

.boxes {
    margin-top: 0.5em;
    margin-left: -0.5em;
    width: 80%;
    display: flex;
    
    /* flex-wrap: wrap; */
    justify-content: 'space-between';

    flex-wrap: 'nowrap'; 
    /* Prevent wrapping to the next line */
    overflow-x: auto;
    /* Horizontal Scrolling */
  }
  
  .box {
    text-align: left;
  }

