.padding-main-container {
    display: flex;
    flex-direction: column;
    padding: var(--stack-padding-spacious);
    gap: var(--space-xsmall);
    background: var(--bgColor-default, rgba(255, 255, 255, 1));
}

.padding-large {
    padding: var(--space-large);
}

.contact-section {
    display: flex;
    flex-direction: column;
    padding: var(--space-xlarge);
    gap: var(--stack-gap-spacious);

}

.tab-title {
    font-weight: var(--text-display-weight); 
    font-size: var(--text-display-size); 
    line-height: var(--text-display-lineHeight);
}

.contact-section-text-headings {
    font-size: var(--text-body-size-large);
    font-weight: var(--base-text-weight-semibold);
    line-height: var(--text-body-lineHeight-large);
    color: var(--fgColor-neutral, rgba(110, 119, 129, 1));
}

.contact-section-text-description {
    font-weight: var(--base-text-weight-normal);
}

.about-section {
    display: flex;
    flex-direction: column;
    padding: var(--space-xlarge);
    gap: var(--stack-gap-spacious); 
}

.about-content-panel {
    gap: var(--stack-gap-spacious); 
    display: flex;
}

.about-section-image-container {
    flex: 0 0 auto;
}

.about-section-image {
    height:auto;
    width: auto;
}

.about-section-text-container {
    flex: 0 0 auto;
    height:max-content;
}

.about-section-text-headings {
    font-size: var(--text-body-size-large);
    font-weight: var(--base-text-weight-semibold);
    line-height: var(--text-body-lineHeight-large);
}

.about-section-text-description {
    font-weight: var(--base-text-weight-normal);
}

.skills-section {
    display: flex;
    flex-direction: column;
    padding: var(--space-xlarge);
    gap: var(--stack-gap-spacious); 
}

.interests-section {
    display: flex;
    flex-direction: column;
    padding: var(--space-xlarge);
    gap: var(--stack-gap-spacious); 
}

.reusable-card-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-medium);
}

.action-button {
    max-width: max-content;
   
}

.reusable-cards-container {
    display: flex !important;
    width: var(--breakpoint-medium);
    height: auto;
    padding: var(--space-medium) 0px var(--space-medium) 0px;
    gap: var(--stack-gap-spacious);
}

.individual-card {
    width: auto;
    padding: 8px var(--space-medium) 8px var(--space-medium);  
    box-shadow: 
        0px 1px 3px 0px rgba(31, 35, 40, 0.12), 
        0px 8px 24px 0px rgba(66, 74, 83, 0.12);
    border-radius: var(--borderRadius-medium);
}

.individual-card-title {
    font-size: var(--text-title-size-small);
    font-weight: var(--text-title-weight-small);
    line-height: var(--text-title-lineHeight-small);
    display: block;
    text-align: left;
}

.individual-card-description {
    font-size: var(--text-body-size-large);
    font-weight: var(--base-text-weight-normal);
    line-height: var(--text-body-lineHeight-large);
    text-align: left;
}

/* -------------------ANIMATIONS------------------- */

.anim-fade-in.custom-fade {
    animation-duration: 0.25s !important;
  }

.anim-fade-out.custom-fade {
    animation-duration: 0.25s !important;
  }